.DS_Store
xcuserdata/
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/
SpoonFit/Info.plist
SpoonFit/SpoonFit.entitlements
node_modules/
*-debug.log
